@import '../../variables';

.header {
	padding: 0 40px;
	border-bottom: 1px solid $white;
}

.logo {
	padding: 35px 0;
}

.item {
	padding: 35px;
}

.link {
	color: $white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.support {
	color: $white;
	margin: 20px 0;
	padding: 0 20px;
	border-left: 1px solid $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.4;
}
